@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: "Ambit";
    src: url("/fonts/Ambit-Regular.otf");
  }
    @font-face {
        font-family: "Ambit";
        src: url("/fonts/Ambit-Bold.otf");
        font-weight: bold;
    }
    @font-face {
        font-family: "Ambit";
        src: url("/fonts/Ambit-Italic.otf");
        font-style: italic;
    }
    @font-face {
        font-family: "Ambit";
        src: url("/fonts/Ambit-BoldItalic.otf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family: "Valky";
        src: url("/fonts/ValkyRegular.ttf");
        font-weight: 300;
    }
